<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title%></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <script>
        // window.ctx = 'http://localhost:8080/joyshoetique'
        //  window.accessToken = '72afd372-b8f4-4fcf-bed1-fc84a42d6fa5';
    </script>
    <!-- <link href="/style.css" rel="stylesheet"> -->
</head>
<body>
<div id="app">
</div>
</body>
</html>
